@import '_variables.scss';
@import '_nav.scss';
@import '_breakpoints.scss';
@import '_text.scss';
@import '_layout.scss';

:root {
  font-size: 62.5%;

  body {
    max-width: $max-width;
    font-family: $font-style;
    font-size: $font-size;
    color: $font-colour;
    background: $background-primary-colour;
  }
}

* {
  color: inherit;
  margin: 0;
}
