@import "_variables.scss";

h1,
h2,
h3,
h4 {
  color: $primary-color;
  font-weight: bold;
}

h1 {
  font-size: $font-size-title;
}

h2 {
  font-size: $font-size-secondary-title;
}

.content-centered {
  text-align: center;
  white-space: pre-line;
}
