// Colours
$primary-color: #845EC2;
$secondary-color: #C34A36;
$tertiary-color: #ff8066;

//$dark-purple: #30011e;
//$tea-green: #d7fcd4;
//$laurel-green: #b6cca1;
//$dark-goldenrod: #b68f40;
//$davys-grey: #545454;

$font-colour: #111111;
$secondary-fore-colour: #606c76;
$background-primary-colour: #b0a8b9;
$background-secondary-colour: #4b4453;

// margin & padding;
$global-margin: .5rem;
$global-padding: .5rem;

// Grid configs
$grid-gap: .5rem;

// Fonts
/*
 Because we have set the _main.scss :root element to font-size:62.5%. 1 rem will be 10px.
 By default the 1 rem = 16px.
 */
$font-style: Roboto, Helvetica, sans-serif;
$font-size: 1.6rem;
$font-size-title: $font-size * 3;
$font-size-secondary-title: 2rem;

// Widths
$max-width: 100%;
$max-height: 100%;
